.bananaWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.bananaImg {
  width: 75px;
  height: 75px;
}

.section-padding {
  padding: 10rem 0;
  position: relative;
}

.custom-shape-divider-bottom-1644902282 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1644902282 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 49px;
}

.custom-shape-divider-bottom-1644902282 .shape-fill {
  fill: #463e35;
}

.custom-shape-divider-top-1644902677 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1644902677 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 49px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1644902677 .shape-fill {
  fill: #463e35;
}
/* -- Row BG Color -- */

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.clouds {
  position: relative;
  z-index: 1001;
}

@keyframes plane {
  100% {
    transform: translateY(15px);
  }
}

.mountains {
  position: absolute;
  bottom: 0;
  height: clamp(200px, 250px, 300px);
  right: 0;
  left: -2000px;
  width: 500%;
  background-image: url(https://i.ibb.co/zJbfkgZ/mountain.png);
  background-repeat: repeat-x;
  animation: mountains 30s linear infinite;
  z-index: 0;
}

@keyframes mountains {
  100% {
    transform: translateX(1000px);
  }
}

.airplane {
  bottom: 0;
  margin-left: 60vw;
  position: absolute;
  height: 215px;
  width: 215px;
  z-index: 1;
  animation: plane 3s alternate infinite;
}

@media screen and (min-width: 400px) {
  .airplane {
    bottom: 15%;
  }
}
