.nav-tabs .nav-link {
  padding: 0rem 0.4rem;
  opacity: 0.4;
  color: black;
  padding-bottom: 4px;
  background-color: transparent;
  border: none !important;
  margin: 8px;
  font-size: 1.2rem;
}

.head {
  color: #292929;
  word-break: break-word;
  left: 0px;
  top: calc(100vh - 85%);
  width: 75%;
  padding-top: 68px;
}

.picker-wrapper {
  position: absolute;
  margin: auto;
  right: 80px;
  width: 40%;
  bottom: -120px;
  background-color: #fdd535;
  padding: 20px;
}

.nav-link.active {
  background-color: transparent !important;
  opacity: 1;
  transform: rotate(-3deg);
}

.nav-tabs .nav-link:hover {
  transform: rotate(4deg);
  opacity: 1;
}

.nav-tabs {
  margin-bottom: 10px;
  border-bottom: none !important;
}

#Home__triage .nav-tabs .nav-link.active {
  background-color: transparent;
  color: black;
  opacity: 1;
  border-bottom: 1px solid black !important;
  padding-bottom: 3px;
}

#Home__triage nav {
  align-content: center;
  justify-content: center;
  border: none;
  margin-top: 16px;
}

.Home__triage-container {
  border-radius: 10px;
  padding: 16px;
  margin-top: 12px;
}

.Home__triage-input-wrapper .col-lg-5,
.Home__triage-input-wrapper .col-lg-2 {
  padding: 0px 4px;
}

.Home__triage-input:first-of-type {
  padding-left: 16px;
  border-radius: 24px !important;
}

.Home__triage-input:last-of-type {
  padding-right: 16px;
}

.first-input input {
  padding-left: 16px;
  border-radius: 0px 0px 0px 0px;
  outline: none;
  height: 60px;
}

.Home__triage-input-wrapper div:not(:first-child):not(:last-child) input {
  border-radius: 0px;
  height: 60px;
}

.Home__triage-input-wrapper div:last-of-type button {
  padding-left: 16px;
  border-radius: 24px;
  background-color: #007bff;
  height: 60px;
}

@media screen and (max-width: 767px) {
  .Home__triage-input-wrapper div:last-of-type button {
    border-radius: 24px;
  }
  .first-input input {
    border-radius: 0px 0px 0px 0px;
  }
}

.Home__triage-input-wrapper input:focus {
  outline: none !important;
  outline-offset: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#Home__header {
  background-color: #463e35;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  padding: 15% 25%;
}

#Home__section {
  padding: 15% 25%;
  margin-left: -25%;
  margin-right: -25%;
}

#Home__head-wrapper {
  background-color: transparent;
  margin-bottom: 0px;
}

#Home__head-img {
  margin: 4rem 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  float: right;
}

#Home__header div .jumbotron,
#Home__section div .jumbotron {
  background-color: transparent;
}

#Home__header div .jumbotron {
  color: white;
}

.historyImg {
  border-radius: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#Home__history {
  margin-top: 36px;
}

.flip-card {
  background-color: transparent;
  border-radius: 12px;
  width: 250px;
  height: 375px;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

.result-wrapper {
  border-bottom: solid 0.5px #eaeaea;
}

.result-main {
  white-space: break-spaces;
}

/* This container is needed to position the front and back side */

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  border-radius: 12px;
}

/* Style the front side (fallback if image is missing) */

.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */

.flip-card-back {
  background-color: #463e35;
  color: white;
  transform: rotateY(180deg);
}

small {
  color: gray;
}
